@model Pizza[]

@{
    ViewData["Title"] = "Home Page";
    var pizzas = Model;
}

            
<main>
    <nav>
        <a href="@Url.Action("Create", "Pizza")"> Add pizza</a>
    </nav>

    <div class="container">
        @*pizza container*@
        <div class="flex">

            @*pizza cards*@
            @foreach(var pizza in pizzas)
            {
                <div  class="card">
                    <div class="w-100">
                        <img src="@pizza.Image">
                    </div>
                    <div class="card-description">
                        <h3 class="title"> @pizza.Name </h3>
                        <p>Prezzo: @pizza.Price€</p>
                        <p>@pizza.Description</p>
                    </div>
                    <div>
                        <a href="@Url.Action("Details", "Pizza", new {Id = pizza.Id})" class="btn details">Details</a>
                        <a href="@Url.Action("Update", "Pizza", new {Id = pizza.Id})" class="btn update">Update</a>
                        <form asp-controller="Pizza" asp-action="Delete" asp-route-id="@pizza.Id" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn delete">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            }

        </div>
    </div>
</main>